/* ==|== media queries ====================================================== */

@media only screen and (max-width : 1280px) {
/* Styles */
	.synopsis .content p{
	font-size: 16px;
	}
	.footer{
		background: url('../img/footer_bg.png') no-repeat bottom center;
	    height: 180px;
	    width:100%;
	}
	.synopsis .footer{
		background: url('../img/footer_bg.png') no-repeat bottom center;
		width:100%;
	}
	.gallery .footer{
		background: url('../img/footer_bg.png') no-repeat bottom center;
		width:100%;
	}
}


/*video player is too large for this width so begin resizing at 880px width*/
@media only screen and (max-width: 880px) {
	.gallery-mobile {
		background-image:url('../img/gallery_bg_mobile.png');
		background-repeat:no-repeat;
	}
	#videoWrapper {
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px;
	    height: 0;
	    overflow: hidden;
	}
	#videoWrapper iframe,
	#videoWrapper object,
	#videoWrapper embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}

}

@media only screen and (max-width: 768px) {
	body {
		background: #000;
	}
	header {
		background: none;
		padding: 0;
	}
	header div {
		background: none;
		height: auto;
	}

	header h1 {
		margin: 15px 0;
	}
	#container {
		padding: 0 0;
		background: none;
		width: 100%;
		margin: 0 auto;
		height: 813px;
		margin-bottom: 50px;
	}

	h1 {
	    font-size: 40px;
		line-height: 40px;
		padding: 0;
	}

	header div {
		padding-top: 20px;
	}

	h3 {
		font-size: 20px;
	}
	div#fixed_bg img.desktop{
		display: none;
		float: left;
		overflow: hidden;
		text-indent: -9999px;
	}
	div#fixed_bg img.mobile{
		display: block;
		float: left;
		overflow: visible;
		text-indent: 1px;
	}
/* ==|== index styles ======================================================= */

	#container #main {
		margin: 0 auto 79px;
		width: 100%;
	}
	.trailer #container #main {
		margin: 0 auto;
		width: 100%;
	}
	#container #main #malefique {
		margin: 80px auto 50px;
		background: url('../img/malefique-mobile.png') no-repeat;
		max-height:80%;
		max-width:80%;
		min-height:243px;
		background-size: contain;
	}
	#videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	#videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 80%;
		padding: 0 10%;
	}
/* ==|== navigation styles ======================================================= */
	div#mobile-nav {
		display: block;
		top: 0;
		left: 0;
		width: 97%;
		z-index: 60;
		position: relative;
		text-align: right;
		height: auto;
		padding: 20px 0;
	}
	#burger-icon{
		display: block;
		text-decoration: none;
		color: #fff;
		z-index: 50;
		float:right;
	}
	#burger-icon.box-shadow-menu {
	    border-bottom: 17px double white;
	    border-top: 6px solid white;
	    content:"";
	    height: 5px;
	    width:35px;
	}
	.synopsis #container #nav-bg{
		top: -87px;
		height: 165px;
	}
	.synopsis #container #nav-bg #navigation{
		height: 165px;
	}

	#container #nav-bg{
		z-index: 44;
		width: 100%;
		height: 75px;
		top: 0px;
		position: absolute;
		background: rgba(0, 0, 0, 0.8);
		z-index: 45;
		display: block;
		margin: 0;
	}
	#container ul#navigation  {
		width: 100%;
		margin: 0;
		padding: 0;
		height: 75px;
		overflow: hidden;
		position: absolute;
	}
	#container ul#navigation li {
		display:block;
		width: 100%;
		padding: 30px 0 30px 50px;
	}
	#container ul#navigation li a#index{
		background: url('../img/trailer_button.png') no-repeat;
		width: 202px;
	}
	#container ul#navigation li a#index:hover{
		background: url('../img/trailer_button_hover.png') no-repeat;
	}
	#container ul#navigation li a#synopsis{
		background: url('../img/synopsis_button.png') no-repeat;
		width: 111px;
	}
	#container ul#navigation li a#synopsis:hover{
		background: url('../img/synopsis_button_hover.png') no-repeat;
	}
	#container ul#navigation li a#gallery{
		background: url('../img/gallery_button.png') no-repeat;
		width: 92px;
	}
	#container ul#navigation li a#gallery:hover{
		background: url('../img/gallery_button_hover.png') no-repeat;
	}
/* ==|== synopsis styles ======================================================= */
	.synopsis {
		background: #060b0d url('../img/synopsis_bg_mobile.jpg') no-repeat top center ;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.synopsis .content{
		width: 87%;
		margin: 0 auto;
	}
	.synopsis .content #left{
		float: none;
		width: 100%;
	}
	.synopsis .content #right{
		float: none;
		width: 100%;g
	}

/* ==|== Gallery styles ======================================================= */
	.image_wrapper {
		display:block;
	}
	.image_wrapper img.gallery-mobile-image {
	    display: block;
	    max-width:100%;
	    max-height:100%;
	    width: auto;
	    height: auto;
	}
	.gallery-mobile #container{
		height: 1100px;;
		min-height: 0;
	}
	#container #thumbnails {
		clear: left;
		padding: 0;
	}
	#container #thumbnails ul#thumb_list {

		margin: 30px 0 0 0;
		padding: 0;
		width: 100%;

	}
	#container #thumbnails ul#thumb_list li{
		float: left;
		width: 16%;
		margin: 0 auto;
		padding: 0 2%;
	}
	#container #thumbnails ul#thumb_list li a img {
	    width: 100%;
	}
	#container #thumbnails ul#thumb_list li:nth-child(5n) {
	margin-right: 0;
	}
	#container #thumbnails ul#thumb_list li:last-child{
   		padding: 0 2%;
	}
/* ==|== Footer styles ======================================================= */
	.footer {
		background: #020307 url('../img/footer_bg_mobile.png') top center;
		height: 240px;
		width: 100%;
		bottom: 185px;
		background-size: 100%;
		background-repeat: repeat-x;
	}
	.synopsis .footer{
		background: #020307 url('../img/footer_bg_mobile.png') top center;
		bottom: 150px;
		height: 250px;
		width: 101%;
		position: relative;
		background-size: 100%;
		background-repeat: repeat-x;
	}
	.gallery-mobile .footer{
		background: #020307 url('../img/footer_bg_mobile.png') top center;
		bottom: -60px;
		height: 250px;
		width: 100%;
		position: relative;
		background-repeat: repeat-x;
	}
	.gallery-mobile #container ul#navigation  {
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: absolute;
		top: -174px;
		height: 265px;
	}
	.footer #legal{
		width: 100%;
	}
	.footer #legal img{
		display: none;
		float: left;
		overflow: hidden;
		height: auto;
	}
	.footer #others img.footer_line_mobile{
		display: block;
		margin: 0 9px;
		width: 1px;
		height: 28px;
		float: left;
	}
	.footer #legal p{
		float: none;
		color: #374a59;
		font-size: 12pt;
		margin: 20px 0 0;
		text-align: center;
	}
	.footer #legal p#politique{
		display: none;
	}
	.footer #legal p#politique_mobile{
		display: block;
	}
	.footer #others{
		width: 238px;
		height: 30px;
		margin: 0 auto 30px;
		padding: 25px 0 0 0;
	}
	.footer #others a#eng{
		background: url('../img/version_anglaise.png') no-repeat;
		margin: 0;
		width: 184px;
		height: 28px;
	}
	.footer #others a#fb{
		background: url('../img/fb.png') no-repeat;
		margin: 0;
		width: 28px;
		height: 28px;
		float: left;
	}
	.footer #others img.footer_line_1,
	.footer #others img.footer_line_2{
		display: none;
	}

}
@media only screen and (max-width:  660px) {
	.gallery-mobile #container{
		height: 979px;
		min-height: 0;
	}
	.gallery-mobile .footer{
		bottom: -90px;
	}
	/*#container #thumbnails ul#thumb_list {
		bottom: -140px;
	}*/
}
@media only screen and (max-width:  638px) {

	#container #thumbnails ul#thumb_list li{
			width: 15.9%;
	}
	.synopsis .footer{
		background: url('../img/footer_bg_mobile.png') top center;
		bottom: 50px;
		height: 250px;
		width: 101%;
		position: relative;
		background-size: 100%;
		background-repeat: repeat-x;
	}
}

@media only screen and (max-width:  500px) {
	.gallery-mobile #container{
		height: 820px;
		min-height: 0;
	}
	.gallery-mobile .footer {
		bottom: 110px;
	}
	.synopsis .footer{
		background: url('../img/footer_bg_mobile.png') top center;
		bottom: -900px;
		position: relative;
		background-size: 100%;
		background-repeat: repeat-x;
		height: 220px;
		width: 100%;
	}
	
	.trailer .footer {
		bottom: 185px;
	}
}
@media only screen and (max-width:  410px) {
	#container #main #malefique {
		min-height: 170px;
		height: 170px;
	}
}

/***HEIGHT QUERIES***/
@media only screen and (max-height:  929px) {
	#container{
		margin-bottom: -46px;
	}
	.synopsis #container{
		margin-bottom: 0px;
	}

}
@media only screen and (max-height:  1080px) {
	#container{
		margin-bottom: 20px;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { 
/* For portrait layouts only */ 
	.synopsis .footer {
		bottom: -200px;
	} 
	.trailer .footer {
		bottom: 130px;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
 /* For landscape layouts only */ 
 	.synopsis .footer {
		bottom: -250px;
	} 
	.trailer .footer {
		bottom: 0px;
	}
}
