/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;height:100%; }
body { margin: 0; font-size: 13px; line-height: 1.231;height:100%; margin:0; padding:0; }
body, button, input, select, textarea { font-family: sans-serif; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/

/*a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }*/

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 50px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

@font-face {
    font-family: 'Helvetica-Black';
    src: url('/img/helvetica-black-webfont.eot') ;
    src: url('/img/helvetica-black-webfont.eot');
    src: url('/img/helvetica-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/img/helvetica-black-webfont.woff') format('woff'),
         url('/img/helvetica-black-webfont.ttf') format('truetype'),
         url('/img/helvetica-black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd77BdCn';
    src: url('/img/helveticaneueltstd-bdcn-webfont.eot');
    src: url('/img/helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('/img/helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('/img/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'),
         url('/img/helveticaneueltstd-bdcn-webfont.svg#HelveticaNeueLTStd77BdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}


header div{width:100%;height: 411px;}
h1{text-transform:uppercase;font-size:45px;font-family: 'Helvetica-Black','HelveticaNeueLTStd77BdCn', 'Arial-Black', 'Helvetica', 'Arial', sans-serif;margin: 27px 0 0 160px;float: left;line-height: 50px;padding: 0 430px 0 0;}
h2{background:url('/img/cwbalogo.jpg') 0 0 no-repeat;width:258px;height:58px;text-indent:-2000px;margin:0 0 25px 0;}
h3{text-transform:uppercase;font-size:35px;line-height:28px;font-family: 'Helvetica-Black','HelveticaNeueLTStd77BdCn', 'Arial-Black', 'Helvetica', 'Arial', sans-serif;}
/*#email-it h3{border-bottom:1px solid #e6e6e6;padding-bottom:15px;margin-top:25px;}*/
img.tta_logo{float: left;margin: 32px 0 0 160px;}/* no texting additional styles */
h1 span{display:block;}
h3 span.text-number{color:#80a434;}

/* ==|== Trailer styles ======================================================= */

div#fixed_bg{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -500;
}
div#fixed_bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
div#fixed_bg img.desktop{
	display: block;
	float: left;
	overflow: visible;
	text-indent: 1px;
}
div#fixed_bg img.mobile{
		display: none;
		float: left;
		overflow: hidden;
		text-indent: -9999px;
}
/*.trailer {
	background:#03090c url('../img/trailer_bg.jpg')no-repeat top center ;
	height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
#container:after{
    content: '';
    display: block;
}

#container{
    margin:0 auto;
    width: 851px;
    min-height: 100%;
    margin-bottom: -180px;
}
.gallery #container{
	margin-bottom: -66px;
}
.gallery #container #thumbnails ul#thumb_list {
   display:inline;
   list-style-type:none;
   margin:0;
   padding:0;
   margin: 0 auto !important;

    bottom: 20px;
    position: absolute;
}

#container #thumbnails ul#thumb_list li{
   display: inline;
   padding: 0 20px 0 0;
}

#container #thumbnails ul#thumb_list li{
   float:left;
   display:inline;
}
#container #thumbnails ul#thumb_list li:last-child{
   padding: 0;
}


#container #thumbnails ul#thumb_list li a img{
    border: 2px solid #133741;
    width: 100%;
    /*height: 100px;*/
    position:relative;
    overflow:hidden;
    clear:both;
}
#container #thumbnails ul#thumb_list li a img:hover
{
    border: 2px solid white;
}

#container #thumbnails ul#thumb_list li a .active
{
    border: 2px solid white;
}


#container #nav-bg{
    display: block;
    z-index: :2000;
}
#container ul#navigation{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width:700px;
	margin: 67px auto;
}
#container ul#navigation li{
	float:left;
	display:inline;
}
#container ul#navigation li a{
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
}
#container ul#navigation li a#index{
	background: url('../img/trailer_button.png');
    background-repeat: no-repeat;
	width: 202px;
	height: 27px;
	margin: 0 121px 0 0;
}
#container ul#navigation li a#index:hover, #container ul#navigation li a#index.active{
	background: url('../img/trailer_button_hover.png');
    background-repeat: no-repeat;
}
#container ul#navigation li a#synopsis{
	background: url('../img/synopsis_button.png');
    background-repeat: no-repeat;
	width: 111px;
	height: 27px;
	margin: 0 174px 0 0;
}
#container ul#navigation li a#synopsis:hover, #container ul#navigation li a#synopsis.active{
	background: url('../img/synopsis_button_hover.png');
    background-repeat: no-repeat;
}
#container ul#navigation li a#gallery{
	background: url('../img/gallery_button.png');
    background-repeat: no-repeat;
	width: 92px;
	height: 27px;
}
#container ul#navigation li a#gallery:hover, #container ul#navigation li a#gallery.active{
	background: url('../img/gallery_button_hover.png');
    background-repeat: no-repeat;
}
#container #main{
	margin: 0 auto;
	width: 851px;
	height: 768px;
}
#container #main #malefique{
	background: url('../img/malefique.png');
    background-repeat: no-repeat;
	margin: 0 auto 40px;
	width: 432px;
	height: 217px;
}
/* ==|== synopsis styles ======================================================= */

/*.synopsis {
	background:#051017 url('../img/synopsis_bg.jpg')no-repeat top center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}*/

.synopsis .content{
	width: 100%;
	margin:0;
}
.synopsis .content #left{
	float: left;
	width: 49%;
}
.synopsis .content #right{
	float: right;
	width: 49%;
}
.synopsis .content p{
	color: #89a4b9;
	font-family:Georgia, serif,"Times New Roman", Times;
	font-size: 18px;
	text-shadow:0px 2px #010202;
	line-height: 23pt;
}
/* ==|== footer styles ======================================================= */
.footer{
	background: url('../img/footer_bg.png');
    background-repeat: repeat-x;
    background-position: bottom center;
	position: relative;
    height: 180px;
    width:100%;
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.synopsis .footer{
	background: url('../img/footer_bg.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    height: 180px;
	width:100%;
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.gallery .footer{
	background: url('../img/footer_bg.png');
    background-repeat: repeat-x;
    background-position: bottom center;
	width:100%;
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.footer #others{
	width: 295px;
	margin: 0 auto 30px;
	height: 28px;
	padding: 44px 0 0 0;
}
.footer #others a#eng{
	background: url('../img/version_anglaise.png');
    background-repeat: no-repeat;
	margin: 0 50px 0 0;
	width: 184px;
	height: 28px;
	float: left;
}
.footer #others a#fb{
	background: url('../img/fb.png');
    background-repeat: no-repeat;
	margin: 0;
	width: 28px;
	height: 28px;
	float: left;
}
.footer #legal{
	width: 851px;
	height: 28px;
	margin: 0 auto;
	width: 882px\0/;
}
.footer #legal p{
	font-family:Georgia, serif,"Times New Roman", Times;
	float: left;
	color: #374a59;
	font-size: 10pt;
	margin: 5px 0 0 0;
}
.footer #legal p#politique_mobile{
	display: none;
}
.footer #legal a{
	text-decoration: none;
}
.footer #legal img.footer_line_1{
	margin: 0 34px 0 40px;
	width: 1px;
	height: 28px;
	float: left;
}
.footer #legal img.footer_line_2{
	margin: 0 32px 0 34px;
	width: 1px;
	height: 28px;
	float: left;
}
.footer #others img.footer_line_mobile{
	display: none;
}
/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}




div#mobile-nav{
    display:none;
}

#burger-icon{
    display:none;
    text-decoration: none;
    color:#fff;
    font-size: 30pt;
}

#videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#videoWrapper iframe,
#videoWrapper object,
#videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width:855px;
  max-height: 481px;
}

/*#videoWrapper {

}
#videoWrapper iframe {
    width:855px;
    height:481px;
}*/

/* ==|== gallery styles ======================================================= */
.image_wrapper {
    display:none;
}
.gallery {
    background-image:url('../img/gallery/1.jpg');
    background-repeat:no-repeat;
    background-color: #000;
    background-position: center;
    height: 100%;
   /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.gallery #container #main{
    width: 600px;
    height: 100%;
    margin: 0 auto;
}


/* CUSTOM FANCYBOX CSS*/
.fancybox-nav span {
 visibility: visible;
}